In [52]:
import pandas as pd
from decimal import Decimal
from datetime import datetime
from thetadata_utils import curl
from thetadata import ThetaClient
from credentials import USERNAME, PASSWORD
client = ThetaClient(username=USERNAME, passwd=PASSWORD, timeout=10)

In [54]:
config = {
    "stock_ticker": 'spy',
    "underlying_ticker": 'spx',
    "options_ticker": 'spxw',
    "start_date": datetime.datetime(2024, 1, 1),
    "end_date": datetime.datetime(2024, 1, 3),
    "ivl": 1000  * 60,
    "ivl_name": '1m'
}
my_date = datetime(2024, 6, 26)

#### Expirations

In [ ]:
path = '/data/td/options/expirations'
expirations = pd.read_csv(f"{path}/{config['options_ticker']}.csv.gz", index=False, compression='gzip')
expirations['date'] = pd.to_datetime(expirations['date'], format='%Y%m%d')
expirations

#### 1m/1s quotes

In [ ]:
for date in pd.date_range(start=config['start_date'], end=config['end_date']):
    date_str = date.strftime("%Y%m%d")

    if date.date() in expirations['date'].values:
        query = {
            "root": config['ticker'],
            "start_date": date_str,
            "end_date": date_str,
            "ivl": config['ivl'],
            "use_csv": "true"
        }
        
        ohlc = curl('hist/stock/ohlc', query)
        filename = f'/data/thetadata/{config['stock_ticker']}/{config['ivl_name']}/' + date_str + '.csv.gz'
        ohlc.to_csv(filename, compression='gzip')
        print(f"{date_str} saved to {filename}.")

#### Restore test

In [99]:
filename = '/data/thetadata/spy/1m/20240624.csv.gz'
restore_test = pd.read_csv(filename, compression='gzip')
restore_test.shape
restore_test

,Unnamed: 0,ms_of_day,open,high,low,close,volume,count,date
0,0,34200000,544.33,544.42,544.125,544.2400,644886,6216,20240624
1,1,34260000,544.25,544.47,544.200,544.2481,206647,2320,20240624
2,2,34320000,544.25,544.46,544.130,544.3500,138294,1520,20240624
3,3,34380000,544.36,544.43,544.255,544.3300,98872,1255,20240624
4,4,34440000,544.33,544.45,544.300,544.3200,193605,1643,20240624
...,...,...,...,...,...,...,...,...,...
385,385,57300000,543.56,543.56,543.310,543.3400,374641,3156,20240624
386,386,57360000,543.34,543.39,543.000,543.0050,522651,2609,20240624
387,387,57420000,543.00,543.03,542.660,542.6800,778235,4265,20240624
388,388,57480000,542.69,542.89,542.690,542.8200,621749,4259,20240624
389,389,57540000,542.81,543.25,542.630,542.6500,3254489,12578,20240624

In [100]:
filename = '/data/thetadata/spy/1s/20240624.csv.gz'
restore_test = pd.read_csv(filename, compression='gzip')
restore_test.shape
restore_test

,Unnamed: 0,ms_of_day,open,high,low,close,volume,count,date
0,0,34200000,544.330,544.420,544.330,544.3600,268391,674,20240624
1,1,34201000,544.360,544.410,544.320,544.3200,30204,989,20240624
2,2,34202000,544.320,544.400,544.310,544.4000,24340,625,20240624
3,3,34203000,544.400,544.410,544.380,544.3900,18423,457,20240624
4,4,34204000,544.390,544.420,544.340,544.3600,11088,184,20240624
...,...,...,...,...,...,...,...,...,...
23395,23395,57595000,542.820,542.885,542.770,542.7800,47444,273,20240624
23396,23396,57596000,542.760,542.800,542.665,542.6700,42263,271,20240624
23397,23397,57597000,542.665,542.700,542.650,542.6599,60510,294,20240624
23398,23398,57598000,542.660,542.770,542.660,542.7600,33344,270,20240624
23399,23399,57599000,542.760,542.790,542.630,542.6500,68533,399,20240624